@() 
@javascript = { } 
@main("TechMap > About", "about")(javascript) {
<div class="container">
	<div class="content">
		<div class="page-header">
			<h1>About</h1>
		</div>
		<div class="row">
			<div class="span14">
				This application was created by <a href="http://www.mathew.com.au">Mathew
					Rodley</a> as an entry for the 2012 J-Prize competition.<br /> <br />
				The application is designed to allow users to check in the
				technologies they are working with at any location on the globe.
				Users can then explore the globe & the technologies we are working
				with.
			</div>
		</div>
	</div>
</div>
}
