@() 

@javascript = {
	<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/maps.textoverlay.js")"></script>
	<script src="@routes.Assets.at("javascripts/map.js")"></script>
	<style type="text/css">
	.maps-tag-overlay {
		position: absolute;
		font-weight: bold;
		font-size: 18px;
		width: 450px;
	}
	</style>
}

@main("Page Title")(javascript) { 
<div class="container no-pad">

	<div class="hero-unit hero-change-pad">
		<h2>Explore the Map!</h2><br />
		<div class="row">
			<div class="span5">
				<h3>Countries</h3> <input type="text" id="country-input" name="countries"
					style="display: none;">
			</div>
			<div class="span5">
				<h3>Technologies</h3> <input type="text" id="tag-input" name="tags"
					style="display: none;">
			</div>
		</div>
	</div>

	<div id="map" style="width: 100%; height: 600px"></div>

</div>
<!-- /container -->
}
